{
  "name": "Azulite",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/css/main.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/css/main.sass",
      "imports": [
        "assets/css/1-tools/bourbon/_bourbon.scss",
        "assets/css/1-tools/bootstrap/_bootstrap.scss",
        "assets/css/1-tools/_normalize.scss",
        "assets/css/1-tools/_vars.sass",
        "assets/css/2-base/_typography.sass",
        "assets/css/2-base/_body.sass",
        "assets/css/2-base/_colors.sass",
        "assets/css/3-modules/_map.sass",
        "assets/css/4-sections/_sections-dir.sass",
        "assets/css/5-components/_buttons.sass",
        "assets/css/5-components/_forms.sass",
        "assets/css/5-components/_navigation.sass",
        "assets/css/1-tools/bourbon/settings/_prefixer.scss",
        "assets/css/1-tools/bourbon/settings/_px-to-em.scss",
        "assets/css/1-tools/bourbon/settings/_asset-pipeline.scss",
        "assets/css/1-tools/bourbon/functions/_assign-inputs.scss",
        "assets/css/1-tools/bourbon/functions/_contains.scss",
        "assets/css/1-tools/bourbon/functions/_contains-falsy.scss",
        "assets/css/1-tools/bourbon/functions/_is-length.scss",
        "assets/css/1-tools/bourbon/functions/_is-light.scss",
        "assets/css/1-tools/bourbon/functions/_is-number.scss",
        "assets/css/1-tools/bourbon/functions/_is-size.scss",
        "assets/css/1-tools/bourbon/functions/_px-to-em.scss",
        "assets/css/1-tools/bourbon/functions/_px-to-rem.scss",
        "assets/css/1-tools/bourbon/functions/_shade.scss",
        "assets/css/1-tools/bourbon/functions/_strip-units.scss",
        "assets/css/1-tools/bourbon/functions/_tint.scss",
        "assets/css/1-tools/bourbon/functions/_transition-property-name.scss",
        "assets/css/1-tools/bourbon/functions/_unpack.scss",
        "assets/css/1-tools/bourbon/functions/_modular-scale.scss",
        "assets/css/1-tools/bourbon/helpers/_convert-units.scss",
        "assets/css/1-tools/bourbon/helpers/_directional-values.scss",
        "assets/css/1-tools/bourbon/helpers/_font-source-declaration.scss",
        "assets/css/1-tools/bourbon/helpers/_gradient-positions-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-angle-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-gradient-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-positions-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-side-corner-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_radial-arg-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_radial-positions-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_radial-gradient-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_render-gradients.scss",
        "assets/css/1-tools/bourbon/helpers/_shape-size-stripper.scss",
        "assets/css/1-tools/bourbon/helpers/_str-to-num.scss",
        "assets/css/1-tools/bourbon/css3/_animation.scss",
        "assets/css/1-tools/bourbon/css3/_appearance.scss",
        "assets/css/1-tools/bourbon/css3/_backface-visibility.scss",
        "assets/css/1-tools/bourbon/css3/_background.scss",
        "assets/css/1-tools/bourbon/css3/_background-image.scss",
        "assets/css/1-tools/bourbon/css3/_border-image.scss",
        "assets/css/1-tools/bourbon/css3/_calc.scss",
        "assets/css/1-tools/bourbon/css3/_columns.scss",
        "assets/css/1-tools/bourbon/css3/_filter.scss",
        "assets/css/1-tools/bourbon/css3/_flex-box.scss",
        "assets/css/1-tools/bourbon/css3/_font-face.scss",
        "assets/css/1-tools/bourbon/css3/_font-feature-settings.scss",
        "assets/css/1-tools/bourbon/css3/_hidpi-media-query.scss",
        "assets/css/1-tools/bourbon/css3/_hyphens.scss",
        "assets/css/1-tools/bourbon/css3/_image-rendering.scss",
        "assets/css/1-tools/bourbon/css3/_keyframes.scss",
        "assets/css/1-tools/bourbon/css3/_linear-gradient.scss",
        "assets/css/1-tools/bourbon/css3/_perspective.scss",
        "assets/css/1-tools/bourbon/css3/_placeholder.scss",
        "assets/css/1-tools/bourbon/css3/_radial-gradient.scss",
        "assets/css/1-tools/bourbon/css3/_selection.scss",
        "assets/css/1-tools/bourbon/css3/_text-decoration.scss",
        "assets/css/1-tools/bourbon/css3/_transform.scss",
        "assets/css/1-tools/bourbon/css3/_transition.scss",
        "assets/css/1-tools/bourbon/css3/_user-select.scss",
        "assets/css/1-tools/bourbon/addons/_border-color.scss",
        "assets/css/1-tools/bourbon/addons/_border-radius.scss",
        "assets/css/1-tools/bourbon/addons/_border-style.scss",
        "assets/css/1-tools/bourbon/addons/_border-width.scss",
        "assets/css/1-tools/bourbon/addons/_buttons.scss",
        "assets/css/1-tools/bourbon/addons/_clearfix.scss",
        "assets/css/1-tools/bourbon/addons/_ellipsis.scss",
        "assets/css/1-tools/bourbon/addons/_font-stacks.scss",
        "assets/css/1-tools/bourbon/addons/_hide-text.scss",
        "assets/css/1-tools/bourbon/addons/_margin.scss",
        "assets/css/1-tools/bourbon/addons/_padding.scss",
        "assets/css/1-tools/bourbon/addons/_position.scss",
        "assets/css/1-tools/bourbon/addons/_prefixer.scss",
        "assets/css/1-tools/bourbon/addons/_retina-image.scss",
        "assets/css/1-tools/bourbon/addons/_size.scss",
        "assets/css/1-tools/bourbon/addons/_text-inputs.scss",
        "assets/css/1-tools/bourbon/addons/_timing-functions.scss",
        "assets/css/1-tools/bourbon/addons/_triangle.scss",
        "assets/css/1-tools/bourbon/addons/_word-wrap.scss",
        "assets/css/1-tools/bourbon/_bourbon-deprecated-upcoming.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_variables.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_mixins.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_normalize.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_print.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_glyphicons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_scaffolding.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_type.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_code.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_grid.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_tables.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_forms.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_buttons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_component-animations.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_dropdowns.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_button-groups.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_input-groups.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_navs.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_navbar.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_breadcrumbs.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_pagination.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_pager.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_labels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_badges.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_jumbotron.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_thumbnails.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_alerts.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_progress-bars.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_media.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_list-group.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_panels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_responsive-embed.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_wells.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_close.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_modals.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_tooltip.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_popovers.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_carousel.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_utilities.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_responsive-utilities.scss",
        "assets/css/4-sections/_header.sass",
        "assets/css/4-sections/_about.sass",
        "assets/css/4-sections/_portfolio.sass",
        "assets/css/4-sections/_testimonials.sass",
        "assets/css/4-sections/_contact.sass",
        "assets/css/4-sections/_footer.sass",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_hide-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_opacity.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_image.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_labels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_resize.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_size.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_alerts.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_buttons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_panels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_pagination.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_list-group.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_forms.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_table-row.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_background-variant.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_border-radius.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_gradients.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_clearfix.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_center-block.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "assets/css/4-sections/_sections-dir.sass",
      "imports": [
        "assets/css/4-sections/_header.sass",
        "assets/css/4-sections/_about.sass",
        "assets/css/4-sections/_portfolio.sass",
        "assets/css/4-sections/_testimonials.sass",
        "assets/css/4-sections/_contact.sass",
        "assets/css/4-sections/_footer.sass"
      ]
    },
    {
      "path": "assets/css/1-tools/bootstrap/_bootstrap.scss",
      "imports": [
        "assets/css/1-tools/bootstrap/bootstrap/_variables.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_mixins.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_normalize.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_print.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_glyphicons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_scaffolding.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_type.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_code.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_grid.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_tables.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_forms.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_buttons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_component-animations.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_dropdowns.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_button-groups.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_input-groups.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_navs.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_navbar.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_breadcrumbs.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_pagination.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_pager.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_labels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_badges.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_jumbotron.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_thumbnails.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_alerts.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_progress-bars.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_media.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_list-group.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_panels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_responsive-embed.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_wells.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_close.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_modals.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_tooltip.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_popovers.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_carousel.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_utilities.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_responsive-utilities.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_hide-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_opacity.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_image.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_labels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_resize.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_size.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_alerts.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_buttons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_panels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_pagination.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_list-group.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_forms.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_table-row.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_background-variant.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_border-radius.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_gradients.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_clearfix.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_center-block.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "assets/css/1-tools/bourbon/_bourbon.scss",
      "imports": [
        "assets/css/1-tools/bourbon/settings/_prefixer.scss",
        "assets/css/1-tools/bourbon/settings/_px-to-em.scss",
        "assets/css/1-tools/bourbon/settings/_asset-pipeline.scss",
        "assets/css/1-tools/bourbon/functions/_assign-inputs.scss",
        "assets/css/1-tools/bourbon/functions/_contains.scss",
        "assets/css/1-tools/bourbon/functions/_contains-falsy.scss",
        "assets/css/1-tools/bourbon/functions/_is-length.scss",
        "assets/css/1-tools/bourbon/functions/_is-light.scss",
        "assets/css/1-tools/bourbon/functions/_is-number.scss",
        "assets/css/1-tools/bourbon/functions/_is-size.scss",
        "assets/css/1-tools/bourbon/functions/_px-to-em.scss",
        "assets/css/1-tools/bourbon/functions/_px-to-rem.scss",
        "assets/css/1-tools/bourbon/functions/_shade.scss",
        "assets/css/1-tools/bourbon/functions/_strip-units.scss",
        "assets/css/1-tools/bourbon/functions/_tint.scss",
        "assets/css/1-tools/bourbon/functions/_transition-property-name.scss",
        "assets/css/1-tools/bourbon/functions/_unpack.scss",
        "assets/css/1-tools/bourbon/functions/_modular-scale.scss",
        "assets/css/1-tools/bourbon/helpers/_convert-units.scss",
        "assets/css/1-tools/bourbon/helpers/_directional-values.scss",
        "assets/css/1-tools/bourbon/helpers/_font-source-declaration.scss",
        "assets/css/1-tools/bourbon/helpers/_gradient-positions-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-angle-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-gradient-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-positions-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_linear-side-corner-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_radial-arg-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_radial-positions-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_radial-gradient-parser.scss",
        "assets/css/1-tools/bourbon/helpers/_render-gradients.scss",
        "assets/css/1-tools/bourbon/helpers/_shape-size-stripper.scss",
        "assets/css/1-tools/bourbon/helpers/_str-to-num.scss",
        "assets/css/1-tools/bourbon/css3/_animation.scss",
        "assets/css/1-tools/bourbon/css3/_appearance.scss",
        "assets/css/1-tools/bourbon/css3/_backface-visibility.scss",
        "assets/css/1-tools/bourbon/css3/_background.scss",
        "assets/css/1-tools/bourbon/css3/_background-image.scss",
        "assets/css/1-tools/bourbon/css3/_border-image.scss",
        "assets/css/1-tools/bourbon/css3/_calc.scss",
        "assets/css/1-tools/bourbon/css3/_columns.scss",
        "assets/css/1-tools/bourbon/css3/_filter.scss",
        "assets/css/1-tools/bourbon/css3/_flex-box.scss",
        "assets/css/1-tools/bourbon/css3/_font-face.scss",
        "assets/css/1-tools/bourbon/css3/_font-feature-settings.scss",
        "assets/css/1-tools/bourbon/css3/_hidpi-media-query.scss",
        "assets/css/1-tools/bourbon/css3/_hyphens.scss",
        "assets/css/1-tools/bourbon/css3/_image-rendering.scss",
        "assets/css/1-tools/bourbon/css3/_keyframes.scss",
        "assets/css/1-tools/bourbon/css3/_linear-gradient.scss",
        "assets/css/1-tools/bourbon/css3/_perspective.scss",
        "assets/css/1-tools/bourbon/css3/_placeholder.scss",
        "assets/css/1-tools/bourbon/css3/_radial-gradient.scss",
        "assets/css/1-tools/bourbon/css3/_selection.scss",
        "assets/css/1-tools/bourbon/css3/_text-decoration.scss",
        "assets/css/1-tools/bourbon/css3/_transform.scss",
        "assets/css/1-tools/bourbon/css3/_transition.scss",
        "assets/css/1-tools/bourbon/css3/_user-select.scss",
        "assets/css/1-tools/bourbon/addons/_border-color.scss",
        "assets/css/1-tools/bourbon/addons/_border-radius.scss",
        "assets/css/1-tools/bourbon/addons/_border-style.scss",
        "assets/css/1-tools/bourbon/addons/_border-width.scss",
        "assets/css/1-tools/bourbon/addons/_buttons.scss",
        "assets/css/1-tools/bourbon/addons/_clearfix.scss",
        "assets/css/1-tools/bourbon/addons/_ellipsis.scss",
        "assets/css/1-tools/bourbon/addons/_font-stacks.scss",
        "assets/css/1-tools/bourbon/addons/_hide-text.scss",
        "assets/css/1-tools/bourbon/addons/_margin.scss",
        "assets/css/1-tools/bourbon/addons/_padding.scss",
        "assets/css/1-tools/bourbon/addons/_position.scss",
        "assets/css/1-tools/bourbon/addons/_prefixer.scss",
        "assets/css/1-tools/bourbon/addons/_retina-image.scss",
        "assets/css/1-tools/bourbon/addons/_size.scss",
        "assets/css/1-tools/bourbon/addons/_text-inputs.scss",
        "assets/css/1-tools/bourbon/addons/_timing-functions.scss",
        "assets/css/1-tools/bourbon/addons/_triangle.scss",
        "assets/css/1-tools/bourbon/addons/_word-wrap.scss",
        "assets/css/1-tools/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "assets/fonts/font-awesome-4.6.3/less/font-awesome.less",
      "imports": [
        "assets/fonts/font-awesome-4.6.3/less/variables.less",
        "assets/fonts/font-awesome-4.6.3/less/mixins.less",
        "assets/fonts/font-awesome-4.6.3/less/path.less",
        "assets/fonts/font-awesome-4.6.3/less/core.less",
        "assets/fonts/font-awesome-4.6.3/less/larger.less",
        "assets/fonts/font-awesome-4.6.3/less/fixed-width.less",
        "assets/fonts/font-awesome-4.6.3/less/list.less",
        "assets/fonts/font-awesome-4.6.3/less/bordered-pulled.less",
        "assets/fonts/font-awesome-4.6.3/less/animated.less",
        "assets/fonts/font-awesome-4.6.3/less/rotated-flipped.less",
        "assets/fonts/font-awesome-4.6.3/less/stacked.less",
        "assets/fonts/font-awesome-4.6.3/less/icons.less",
        "assets/fonts/font-awesome-4.6.3/less/screen-reader.less"
      ]
    },
    {
      "path": "assets/fonts/font-awesome-4.6.3/scss/font-awesome.scss",
      "imports": [
        "assets/fonts/font-awesome-4.6.3/scss/_variables.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_mixins.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_path.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_core.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_larger.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_fixed-width.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_list.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_bordered-pulled.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_animated.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_rotated-flipped.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_stacked.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_icons.scss",
        "assets/fonts/font-awesome-4.6.3/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "assets/css/1-tools/bootstrap/bootstrap/_mixins.scss",
      "imports": [
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_hide-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_opacity.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_image.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_labels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_resize.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_size.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_alerts.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_buttons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_panels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_pagination.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_list-group.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_forms.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_table-row.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_background-variant.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_border-radius.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_gradients.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_clearfix.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_center-block.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "assets/css/1-tools/bootstrap/bootstrap/_theme.scss",
      "imports": [
        "assets/css/1-tools/bootstrap/bootstrap/_variables.scss",
        "assets/css/1-tools/bootstrap/bootstrap/_mixins.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_hide-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_opacity.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_image.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_labels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-filter.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_resize.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_responsive-visibility.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_size.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_tab-focus.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_reset-text.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-emphasis.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_text-overflow.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_vendor-prefixes.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_alerts.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_buttons.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_panels.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_pagination.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_list-group.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-divider.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_forms.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_progress-bar.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_table-row.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_background-variant.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_border-radius.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_gradients.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_clearfix.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_center-block.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_nav-vertical-align.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid-framework.scss",
        "assets/css/1-tools/bootstrap/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}